/// Track component - range slider main line
/// @param $name class name to add as a block suffix to parent class
/// @param $thickness track line thickness
/// @param $bg track background
/// @param $border-width
/// @param $border-color
/// @param $border-radius
@mixin track(
  $name,
  $thickness,
  $bg,
  $border-width,
  $border-color,
  $border-radius
) {
  @include element($name) {
    position: absolute;
    background: $bg;
    border: $border-width solid $border-color;
    border-radius: $border-radius;

    @include modifier(horizontal) {
      height: $thickness;
      width: 100%;
    }
  }
}
