$track-bg: $color-primary !default;
$track-radius: $base-size / 3 !default;
$track-thickness: $base-size / 3 !default;

@include element('track') {
  position: absolute;
  background: $track-bg;
  border-radius: $track-radius;

  @include modifier('horizontal') {
    width: 100%;
    height: $track-thickness;
  }

  @include modifier('vertical') {
    width: $track-thickness;
    height: 100%;
  }
}
