// pip - mark on a grid showing position of certain value
$cell-pip-max-size: $base-size * 0.9 !default;
$cell-pip-max-thickness: 2px !default;
$cell-pip-bg: $color-primary-dark !default;
$cell-label-offset: calc(100% + #{$base-size * 0.3}) !default;
$cell-label-font-size: $base-size * 0.9 !default;

&__grid-cells {
  position: relative;
}

&_horizontal #{&}__grid-cells {
  height: $base-size * 2;
}

&_vertical #{&}__grid-cells {
  width: $base-size * 3;
  height: 100%;
}

&__grid-cell {
  position: absolute;
  background: $cell-pip-bg;
}

&_horizontal #{&}__grid-cell {
  transform: translateX(-50%);

  &-level-1 {
    width: $cell-pip-max-thickness;
    height: $cell-pip-max-size;

    // move first pip inline with grid line
    &:first-child {
      transform: translateX(0px);
    }

    // move last pip inline with grid line
    &:last-child {
      transform: translateX(-$cell-pip-max-thickness);
    }
  }

  &-level-2 {
    width: ceil($cell-pip-max-thickness / 2);
    height: $cell-pip-max-size - $cell-pip-max-size / 3;
  }

  &-level-3 {
    width: ceil($cell-pip-max-thickness / 3);
    height: $cell-pip-max-size / 3;
  }
}

&_vertical #{&}__grid-cell {
  &-level-1 {
    width: $cell-pip-max-size;
    height: $cell-pip-max-thickness;

    // move first pip inline with grid line
    &:first-child {
      transform: translateY(0px);
    }

    // move last pip inline with grid line
    &:last-child {
      transform: translateY($cell-pip-max-thickness);
    }
  }

  &-level-2 {
    width: $cell-pip-max-size - $cell-pip-max-size / 3;
    height: ceil($cell-pip-max-thickness / 2);
  }

  &-level-3 {
    width: $cell-pip-max-size / 3;
    height: ceil($cell-pip-max-thickness / 3);
  }
}

&__grid-cell-label {
  position: absolute;
  font-size: $cell-label-font-size;
  padding: $cell-label-font-size / 4 $cell-label-font-size / 2;
}

&_horizontal #{&}__grid-cell-label {
  top: $cell-pip-max-size + $cell-label-offset;
  transform: translateX(-50%);
}

&_vertical #{&}__grid-cell-label {
  left: $cell-pip-max-size + $cell-label-offset;
  transform: translateY(-50%);
}
