@mixin grid-cell($name) {
  @include element($name) {
    $selector: &;

    position: absolute;

    @include modifier(horizontal) {
      top: -1px;
      transform: translateX(-50%);

      &::after {
        top: 110%;
        transform: translateX(-50%);
      }

      &#{$selector}_level-1 {
        height: 15px;
        border-left: 2px solid black;
      }

      &#{$selector}_level-2 {
        height: 10px;
        border-left: 1px solid black;
      }

      &#{$selector}_level-3 {
        height: 5px;
        border-left: 1px solid black;
      }
    }

    &::after {
      content: attr(data-label);
      position: absolute;
      font-size: 0.9em;
    }
  }
}
