/* BASE VARIABLES */

// Colors
$color-primary: #1b5e20;
$color-primary-light: #4c8c4a;
$color-primary-dark: #003300;
$color-primary-text: #ffffff;
$color-secondary: #b71c1c;
$color-secondary-light: #f05545;
$color-secondary-dark: #7f0000;
$color-secondary-text: #ffffff;

// Sizes
$base-size: 1rem;

/* COMPONENTS */

// Track component
$track-thickness: $base-size / 4 !default;
$track-bg: $color-primary !default;
$track-border-width: 0px !default;
$track-border-color: $color-primary-dark !default;
$track-border-radius: 0px !default;

// Grid component
$grid-line-thickness: 0px !default;
$grid-line-style: solid !default;
$grid-line-color: $color-primary-dark !default;
$grid-label-offset: $base-size * 0.3 !default;
$grid-label-font-size: $base-size * 0.9 !default;
$grid-pip-max-size: $base-size * 1.2 !default;
$grid-pip-max-thickness: 2px !default;
$grid-pip-color: $color-primary-dark !default;
$grid-offset: $base-size * 0.1 !default;

// Interval component
$interval-thickness: $base-size * 0.6 !default;
$interval-bg: $color-secondary-light !default;
$interval-border-width: $base-size / 3 $base-size / 6 $base-size / 3 $base-size /
  6;
$interval-border-style: solid;
$interval-border-color: transparent $color-secondary transparent
  $color-secondary;
$interval-border-radius: 0px !default;

// Handle component
$handle-width: 0px !default;
$handle-height: 0px !default;
$handle-offset: -$base-size * 2.2;
$handle-bg: none !default;
$handle-border-width: $base-size $base-size / 2 0 $base-size / 2;
$handle-border-style: solid;
$handle-border-color: $color-primary-light transparent transparent transparent;
$handle-border-radius: 0px;
$handle-active-border-width: $base-size $base-size / 2 0 $base-size / 2;
$handle-active-border-style: solid;
$handle-active-border-color: $color-primary-dark transparent transparent
  transparent;
$handle-active-border-radius: 0px;

// Tooltip component
$tooltip-padding: $base-size * 0.5 $base-size * 1.1 !default;
$tooltip-offset: $base-size * 3 !default;
$tooltip-bg: $color-secondary !default;
$tooltip-border-width: 0px !default;
$tooltip-border-color: $color-secondary-dark !default;
$tooltip-border-radius: $base-size / 3 !default;
$tooltip-font-size: $base-size !default;
$tooltip-font-weight: normal !default;
