// Colors
$color-primary: #1b5e20;
$color-primary-light: #4c8c4a;
$color-primary-dark: #003300;
$color-primary-text: #ffffff;
$color-secondary: #b71c1c;
$color-secondary-light: #f05545;
$color-secondary-dark: #7f0000;
$color-secondary-text: #ffffff;

// Typography
$font: 'Open Sans', Arial, sans-serif !default;

// Sizes
$base-size: 1rem;
