/// Interval component - range of selected values

@include element('interval') {
  position: absolute;
  background: $color-secondary-light;

  @include modifier('horizontal') {
    height: $base-size * 0.6;

    &:before {
      position: absolute;
      content: '';
      width: 3px;
      height: $base-size;
      background: $color-secondary-dark;
      left: 0;
      top: 0;
      transform: translateX(-1px) translateY(-2px);
    }

    &:after {
      position: absolute;
      content: '';
      width: 3px;
      height: $base-size;
      background: $color-secondary-dark;
      right: 0;
      top: 0;
      transform: translateX(1px) translateY(-2px);
    }
  }

  @include modifier('vertical') {
    width: $base-size * 0.6;

    &:before {
      position: absolute;
      content: '';
      width: $base-size;
      height: 3px;
      background: $color-secondary-dark;
      left: 0;
      top: 0;
      transform: translateX(-2px) translateY(-1px);
    }

    &:after {
      position: absolute;
      content: '';
      width: $base-size;
      height: 3px;
      background: $color-secondary-dark;
      left: 0;
      bottom: 0;
      transform: translateX(-2px) translateY(1px);
    }
  }
}
