@import './themes/default';

.range-slider {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: $base-size / 2 $base-size;

  &-wrapper {
    height: 100%;
  }

  &-root {
    height: 100%;
  }

  &_vertical {
    height: 100%;
    flex-direction: row;
  }

  @import '../components/axis/axis';
  @import '../components/track/track';
  @import '../components/interval/interval';
  @import '../components/handle/handle';
  @import '../components/tooltip/tooltip';
  @import '../components/grid/grid';
  @import '../components/grid/cell';
}
