@import './mixins';
@import '../components';

// apply different theme when needed
// @import './theme/light';

// default variables
@import './vars';

.range-slider {
  position: relative;

  // prettier-ignore
  @include track(
    $name:          $track-name,
    $thickness:     $track-thickness,
    $bg:            $track-bg,
    $border-width:  $track-border-width,
    $border-color:  $track-border-color,
    $border-radius: $track-border-radius
  );

  // prettier-ignore
  @include grid(
    $name:              $grid-name,
    $offset:            $grid-offset,
    $line-thickness:    $grid-line-thickness,
    $line-style:        $grid-line-style,
    $line-color:        $grid-line-color,
    $label-offset:      $grid-label-offset,
    $label-font-size:   $grid-label-font-size,
    $pip-max-size:      $grid-pip-max-size,
    $pip-max-thickness: $grid-pip-max-thickness,
    $pip-color:         $grid-pip-color,
  );

  // prettier-ignore
  @include interval(
    $name:          $interval-name,
    $offset:        $interval-offset,
    $thickness:     $interval-thickness,
    $bg:            $interval-bg,
    $border-width:  $interval-border-width,
    $border-color:  $interval-border-color,
    $border-radius: $interval-border-radius
  );

  // prettier-ignore
  @include handle(
    $name:                $handle-name,
    $offset:              $handle-offset,
    $width:               $handle-width,
    $height:              $handle-height,
    $bg:                  $handle-bg,
    $border-width:        $handle-border-width,
    $border-color:        $handle-border-color,
    $border-radius:       $handle-border-radius,
    $active-border-width: $handle-active-border-width,
    $active-border-color: $handle-active-border-color,
    $active-scale-factor: $handle-active-scale-factor,
  );

  // prettier-ignore
  @include tooltip(
    $name:            $tooltip-name,
    $padding:         $tooltip-padding,
    $offset:          $tooltip-offset,
    $bg:              $tooltip-bg,
    $border-width:    $tooltip-border-width,
    $border-color:    $tooltip-border-color,
    $border-radius:   $tooltip-border-radius,
    $font-size:       $tooltip-font-size,
    $font-weight:     $tooltip-font-weight,
  );
}
