$handle-width: $base-size * 1.5 !default;
$handle-height: $base-size * 1.5 !default;
$handle-bg: $color-primary !default;
$handle-border-width: 0px !default;
$handle-border-style: solid !default;
$handle-border-color: darken($color-primary-dark, 10%) !default;
$handle-radius: $base-size !default;

&__handles {
  position: absolute;
}

&_horizontal #{&}__handles {
  width: 100%;
  height: $handle-height;
}
&_vertical #{&}__handles {
  width: $handle-width;
  height: 100%;
}

&__handle {
  position: absolute;
  width: $handle-width;
  height: $handle-height;
  background: $handle-bg;
  border: $handle-border-width $handle-border-style $handle-border-color;
  border-radius: $handle-radius;
}

&_horizontal #{&}__handle {
  transform: translateX(-50%);
}

&_vertical #{&}__handle {
  transform: translateY(50%);
}

&__handle_active {
  z-index: 1;
  transform-origin: center;
}

&_horizontal #{&}__handle_active {
  transform: translateX(-50%) scale(1.15);
}

&_vertical #{&}__handle_active {
  transform: translateY(50%) scale(1.15);
}
