/// Handle component - is used to select new value(s) by dragging
/// @param $name class name to add as a block suffix to parent class
/// @param $width
/// @param $height
/// @param $bg handle background
/// @param $border-width
/// @param $border-color
/// @param $border-radius
/// @param $active-border-width
/// @param $active-border-color
/// @param $active-scale-factor - how much to scale active handle
/// @param $offset position relative to track
@mixin handle(
  $name,
  $width,
  $height,
  $bg,
  $border-width,
  $border-color,
  $border-radius,
  $active-border-width,
  $active-border-color,
  $active-scale-factor,
  $offset
) {
  @include element($name) {
    position: absolute;
    top: $offset;
    width: $width;
    height: $height;
    background: $bg;
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    transform: translateX(-50%);

    @include modifier(is-active) {
      border: $active-border-width solid $active-border-color;
      top: calc(#{$offset} - #{$active-border-width / 2});
      transform-origin: 0 0;
      transform: scale($active-scale-factor)
        translateX(calc(-50% + #{$active-border-width / 2}));
      z-index: 1;
    }
  }
}
