/// Interval component - range of selected values

@include element('interval') {
  position: absolute;
  background: $color-secondary-light;
  border-radius: $base-size / 3;

  @include modifier('horizontal') {
    height: $base-size * 0.6;
  }

  @include modifier('vertical') {
    width: $base-size * 0.6;
  }

  @include modifier('is-hidden') {
    display: none;
  }
}
