doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")

      title demo

      link(rel="stylesheet", href="demo.scss")
      link(rel="stylesheet", href="../src/styles/style.scss")
      script(src="demo.ts", defer)

  block content
    include examples/basic/basic.pug
    include examples/date/date.pug

    +basic('basic')
    +date('date')