doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")

      title demo

      link(rel="stylesheet", href="demo.scss")
      link(rel="stylesheet", href="../src/styles/style.scss")

      script(src="./demo.ts", defer)

  block content
    include examples/example.pug

    +example('base-example', 'Working with numbers')
    +example('date-example', 'Working with dates')
    +example('fraction-example', 'Working with fractions')
    +example('negative-numbers-example', 'Working with negative numbers')