$interval-bg: $color-secondary-light !default;
$interval-border-width: 0px !default;
$interval-border-style: solid !default;
$interval-border-color: darken($color-primary-dark, 10%) !default;
$interval-radius: $base-size / 3 !default;
$interval-thickness: $base-size * 0.6 !default;

&__intervals {
  position: absolute;
}

&_horizontal #{&}__intervals {
  height: $interval-thickness;
  width: 100%;
}

&_vertical #{&}__intervals {
  height: 100%;
  width: $interval-thickness;
}

&__interval {
  position: absolute;
  background: $interval-bg;
  border: $interval-border-width $interval-border-style $interval-border-color;
  border-radius: $interval-radius;
}

&_horizontal #{&}__interval {
  height: $interval-thickness;
}

&_vertical #{&}__interval {
  width: $interval-thickness;
}
