/// Interval component - range of selected values
/// @param $name class name to add as a block suffix to parent class
/// @param $thickness interval thickness
/// @param $bg interval background
/// @param $border-width
/// @param $border-color
/// @param $border-radius
@mixin interval(
  $name,
  $thickness,
  $bg,
  $border-width,
  $border-color,
  $border-radius
) {
  @include element($name) {
    position: absolute;
    background: $bg;
    border: $border-width solid $border-color;
    border-radius: $border-radius;

    @include modifier(horizontal) {
      height: $thickness;
    }
  }
}
