/// Tooltip component - label showing handle value
/// @param $name class name to add as a block suffix to parent class
/// @param $offset position relative to track
/// @param $padding
/// @param $bg tooltip background
/// @param $border-width
/// @param $border-color
/// @param $border-radius
/// @param $font-size
/// @param $font-weight
@mixin tooltip(
  $name,
  $offset,
  $padding,
  $bg,
  $border-width,
  $border-color,
  $border-radius,
  $font-size,
  $font-weight
) {
  @include element($name) {
    position: absolute;
    padding: $padding;
    background: $bg;
    bottom: $offset;
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    font-size: $font-size;
    font-weight: $font-weight;

    @include modifier('horizontal') {
      transform: translateX(-50%);
    }

    @include modifier('has-collisions') {
      opacity: 0;
      z-index: -10;
    }
  }
}
