// Colors
$color-primary: #4a148c !default;
$color-primary-light: #7c43bd !default;
$color-primary-dark: #12005e !default;
$color-primary-text: #ffffff !default;
$color-secondary: #e65100 !default;
$color-secondary-light: #ff833a !default;
$color-secondary-dark: #ac1900 !default;
$color-secondary-text: #000000 !default;

// Typography
$font: 'Open Sans', Arial, sans-serif !default;

// Sizes
$base-size: 1rem !default;
